<section class="block block-media-1"
       {% if section.background_image %}
       data-progressive="{{ section.background_image | relative_url }}"
       style="background-image: url('{{ section.background_image | prepend: 'thumb' | relative_url }}')"
       {% endif %}>
  <div class="container">
    <figure>
      <img src="{{ section.image | relative_url }}" alt="{{ section.caption }}">
      {% if section.caption %}
      <figcaption>{{ section.caption }}</figcaption>
      {% endif %}
    </figure>
  </div>
</section>