<section class="block block-hero-2 progressive__bg progressive--not-loaded"
         {% if section.background_image %}
         data-progressive="{{ section.background_image | relative_url }}"
         data-progressive-sm="{{ section.background_image | prepend: 'medium' | relative_url }}"
         style="background-image: url('{{ section.background_image | prepend: 'thumb' | relative_url }}')"
         {% endif %}>
  {% if section.video_url != '' %}
  <div class="video-bg-wrap">
    <video autoplay muted loop id="myVideo">
      <source src="{{ section.video_url }}" type="video/mp4">
    </video>
  </div>
  {% endif %}
  <div class="container">
    <div class="columns">
      <div class="column text" style="color: {{ section.text_color }}">
        {% if section.headline != '' %}
        <h1><span class="light">{{ section.headline }}</span></h1>
        {% endif %}
        {% if section.title != '' %}
        <h2 class="title"><span>{{ section.title }}</span></h2>
        {% endif %}
        {% for content in section.contents %}
        <p style="color: {{ section.text_color }}">{{ content.sub_title }}</p>
        {% if content.list.size > 0 %}
        <ul class="sub-list-wrap">
          {% for sub_content in content.list %}
          <li class="sub-list-content">{{ sub_content.content }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
        {% if section.cta and section.cta.enabled == true %}
        <a class="button primary inverted" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
        {% endif %}
      </div>
      {% if section.image.enabled %}
      <div class="column media">
        <img class="progressive__img progressive--not-loaded" data-progressive="{{ section.image.image | relative_url }}" src="{{ section.image.image | prepend: 'thumb' | relative_url }}" alt="{{ section.image.alt_text }}">
      </div>
      {% endif %}
    </div>
  </div>
</section>

