    <section class="block block-footer-2">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <img src="{{ site.data.footer.image | relative_url }}" width="132" height="auto" alt="Logo">
                </div>
                <div class="column">
                    {{ site.data.footer.col_2 }}
                </div>
                <div class="column">
                    {{ site.data.footer.col_3 }}
                </div>
                <div class="column">
                    {{ site.data.footer.col_4 }}
                </div>
            </div>
        </div>
    </section>
    <!-- Javascript -->
    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    <script src="https://cdn.jsdelivr.net/npm/progressively/dist/progressively.min.js"></script>
    <script src="{{ "/js/main.js" | relative_url }}" type="text/javascript"></script>
  </body>
</html>