<header class="block block-header-2">
  <div class="block-header-2--logo">
    <a href="{{ site.url | relative_url }}">
      <img src="{{ site.data.menus.header.logo | relative_url }}" alt="{{ site.title }}">
    </a>
  </div>
  <nav class="block-header-2--nav">
    <ul class="nav-items">
      {% for nav_item in site.data.menus.header.menus %}
      <li class="nav-item {% if page.title == nav_item.link_text %}active{% endif %}"><a class="{% if nav_item.sub_links.size > 0 %}hover{% endif %}" href="{{ nav_item.link | relative_url }}">{{ nav_item.link_text }}</a>
        <ul class="sub-nav-items">
          {% for sub_item in nav_item.sub_links %}
            <li><a href="{{ sub_item.link | relative_url }}">{{ sub_item.link_text }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    <a class="button primary small block-header-2--cta" href="{{ site.data.menus.header.cta.url }}">{{ site.data.menus.header.cta.button_text }}</a>
  </nav>
</header>